# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE
.vscode

# Binary
host-event-handler

# Remove macos index files
.DS_Store

# Others
event_examples
.task